
.about-page {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.intro-section {
    position: relative;
    text-align: center;
    padding: 50px 20px;
    background-color: rgba(0, 123, 255, 0.8); 
    color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 40px;
    z-index: 1; 
}

.intro-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    line-height: 1.4;
}

.intro-section button {
    background-color: #ffdd57; 
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    color: #333;
    transition: background-color 0.3s ease;
}

.intro-section button:hover {
    background-color: #ffcc00; 
}


.about-page img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3; 
   
    filter: grayscale(50%) blur(2px); 
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: white;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    z-index: 1; 
}

.stats h2 {
    font-size: 2.5em;
    margin: 0;
    color: #007bff; 
}

.stats p {
    font-size: 1.2em;
    color: #777;
}


.offer {
    padding: 40px 20px;
    text-align: center;
    background-color: white;
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    z-index: 1; 
}

.offer h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #007bff; }

.offer-item {
    margin: 20px 0;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: left;
}

.offer-item h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.offer-item p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
}