.language-switch {
  position: relative;
  width: 100%;
}

.language-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  cursor: pointer;
}

.language-button img {
  width: 20px;
  margin-right: 8px;
}

.language-options {
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.language-option {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.language-option:hover {
  background-color: #f1f1f1;
}

.language-option img {
  width: 20px;
  margin-right: 8px;
}